<div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Project One</h3>
        <span class="plan__price">£30</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% off</span>
        <span class="plan__description">Easy Start On the Cloud</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">HTML</li>
          <li class="list__item">CSS</li>
          <li class="list__item">JavaScript</li>
        </ul>
        <button class="btn btn--block btn--outline">GitHub</button>
      </div>
    </div>
  </div>
</div>
