<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--small collapsible__chevron">
          <use xlink:href="images/new-chevron.svg#new-chevron"></use>
        </svg>
      </span>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      molestias impedit fugit aperiam sapiente maiores reprehenderit eaque
      iste quis veniam!
    </div>
  </div>