<blockquote class="quote">
  <p class="quote__text">
    Ben's websites are honestly fucking class! The guy has such style and
    decorum, it's beyond belief! Also.......huge cock. Just saying XD
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jake Hougham</h3>
        <p class="quote__organisation">Chicken Run Productions</p>
      </div>
    </div>
  </footer>
</blockquote>
