<section class="block container block-domain">
  <header class="block__header">
    <h2>Creative problem solving with code...</h2>
    <p>
      With a background in creative technology I have a passion for elegant,
      exploritory programing
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Pointless search box!" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">Item 1</span></li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
    <li>Item 5</li>
    <li>Item 6</li>
  </ul>
</section>
